<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Available Promotions" debug="false" includeentityhelper="false" allowengine="true">
	<query name="Promotions" rowElementName="Promotion" retType="xml">
		<sql>
			<![CDATA[
				exec dbo.aspdnsf_GetAvailablePromos @productIdList, @StoreID, @CustomerID, @CustomerLevel
			]]>
		</sql>
		<queryparam paramname="@productIdList" paramtype="runtime" requestparamname="productIdList" sqlDataType="nvarchar" defvalue="" validationpattern="^((\d+)(,\d+)*)?$" />
		<queryparam paramname="@StoreID"  paramtype="runtime"	requestparamname="StoreID"  sqlDataType="int"	defvalue="1"	validationpattern="" />
		<queryparam paramname="@CustomerID" paramtype="system" requestparamname="CustomerID" sqlDataType="int" defvalue="0" validationpattern="" />
		<queryparam paramname="@CustomerLevel" paramtype="system" requestparamname="CustomerLevelID" sqlDataType="int" defvalue="0" validationpattern="" />
	</query>

	<PackageTransform>
		<xsl:stylesheet version="1.0"
		xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
		xmlns:msxsl="urn:schemas-microsoft-com:xslt"
		xmlns:aspdnsf="urn:aspdnsf"
		xmlns:vortxproductextensions="urn:vortxproductextensions"
		exclude-result-prefixes="aspdnsf vortxproductextensions msxsl">

			<xsl:output method="html" omit-xml-declaration="yes" />

			<xsl:template match="@*|node()">
				<xsl:copy>
					<xsl:apply-templates select="@*|node()"/>
				</xsl:copy>
			</xsl:template>

		</xsl:stylesheet>
	</PackageTransform>
</package>
