<?xml version="1.0" standalone="yes"?>

<package debug="false">
	<query name="CartItems" rowElementName="Item">
		<sql>
			<![CDATA[
                select * from ShoppingCart with (NOLOCK) where CustomerID=@CustomerID AND Carttype = @CartType
            ]]>
		</sql>
		<queryparam paramname="@CustomerID" paramtype="runtime" requestparamname="CustomerID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@CartType" paramtype="runtime" requestparamname="CartType" sqlDataType="int" defvalue="0"  validationpattern="" />
	</query>


	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<!-- aspdnsf:no-system-required -->
			<xsl:output method="xml" omit-xml-declaration="yes" encoding="utf-8" />

			<xsl:template match="/">
				<ShoppingCart>
					<xsl:if test="/root/System/IsSuperUser = 'false'">
						<error>permission denied</error>
					</xsl:if>
					<xsl:if test="/root/System/IsSuperUser = 'true'">
						<ShoppingCartRecID>
							<xsl:value-of select="/root/CartItems/Item/ShoppingCartRecID"/>
						</ShoppingCartRecID>
						<ShoppingCartRecGUID>
							<xsl:value-of select="/root/CartItems/Item/ShoppingCartRecGUID"/>
						</ShoppingCartRecGUID>
						<StoreID>
							<xsl:value-of select="/root/CartItems/Item/StoreID"/>
						</StoreID>
						<CustomerID>
							<xsl:value-of select="/root/CartItems/Item/CustomerID"/>
						</CustomerID>
						<ProductSKU>
							<xsl:value-of select="/root/CartItems/Item/ProductSKU"/>
						</ProductSKU>
						<ProductPrice>
							<xsl:value-of select="/root/CartItems/Item/ProductPrice"/>
						</ProductPrice>
						<ProductWeight>
							<xsl:value-of select="/root/CartItems/Item/ProductWeight"/>
						</ProductWeight>
						<ProductID>
							<xsl:value-of select="/root/CartItems/Item/ProductID"/>
						</ProductID>
						<VariantID>
							<xsl:value-of select="/root/CartItems/Item/VariantID"/>
						</VariantID>
						<Quantity>
							<xsl:value-of select="/root/CartItems/Item/Quantity"/>
						</Quantity>
						<RequiresCount>
							<xsl:value-of select="/root/CartItems/Item/RequiresCount"/>
						</RequiresCount>
						<ChosenColor>
							<xsl:value-of select="/root/CartItems/Item/ChosenColor"/>
						</ChosenColor>
						<ChosenColorSKUModifier>
							<xsl:value-of select="/root/CartItems/Item/ChosenColorSKUModifier"/>
						</ChosenColorSKUModifier>
						<ChosenSize>
							<xsl:value-of select="/root/CartItems/Item/ChosenSize"/>
						</ChosenSize>
						<ChosenSizeSKUModifier>
							<xsl:value-of select="/root/CartItems/Item/ChosenSizeSKUModifier"/>
						</ChosenSizeSKUModifier>
						<IsTaxable>
							<xsl:value-of select="/root/CartItems/Item/IsTaxable"/>
						</IsTaxable>
						<IsShipSeparately>
							<xsl:value-of select="/root/CartItems/Item/IsShipSeparately"/>
						</IsShipSeparately>
						<IsDownload>
							<xsl:value-of select="/root/CartItems/Item/IsDownload"/>
						</IsDownload>
						<DownloadLocation>
							<xsl:value-of select="/root/CartItems/Item/DownloadLocation"/>
						</DownloadLocation>
						<FreeShipping>
							<xsl:value-of select="/root/CartItems/Item/FreeShipping"/>
						</FreeShipping>
						<CreatedOn>
							<xsl:value-of select="/root/CartItems/Item/CreatedOn"/>
						</CreatedOn>
						<ProductDimensions>
							<xsl:value-of select="/root/CartItems/Item/ProductDimensions"/>
						</ProductDimensions>
						<CartType>
							<xsl:value-of select="/root/CartItems/Item/CartType"/>
						</CartType>
						<IsSecureAttachment>
							<xsl:value-of select="/root/CartItems/Item/IsSecureAttachment"/>
						</IsSecureAttachment>
						<TextOption>
							<xsl:value-of select="/root/CartItems/Item/TextOption"/>
						</TextOption>
						<NextRecurringShipDate>
							<xsl:value-of select="/root/CartItems/Item/NextRecurringShipDate"/>
						</NextRecurringShipDate>
						<RecurringIndex>
							<xsl:value-of select="/root/CartItems/Item/RecurringIndex"/>
						</RecurringIndex>
						<OriginalRecurringOrderNumber>
							<xsl:value-of select="/root/CartItems/Item/OriginalRecurringOrderNumber"/>
						</OriginalRecurringOrderNumber>
						<BillingAddressID>
							<xsl:value-of select="/root/CartItems/Item/BillingAddressID"/>
						</BillingAddressID>
						<ShippingAddressID>
							<xsl:value-of select="/root/CartItems/Item/ShippingAddressID"/>
						</ShippingAddressID>
						<ShippingMethodID>
							<xsl:value-of select="/root/CartItems/Item/ShippingMethodID"/>
						</ShippingMethodID>
						<ShippingMethod>
							<xsl:value-of select="/root/CartItems/Item/ShippingMethod"/>
						</ShippingMethod>
						<DistributorID>
							<xsl:value-of select="/root/CartItems/Item/DistributorID"/>
						</DistributorID>
						<Notes>
							<xsl:value-of select="/root/CartItems/Item/Notes"/>
						</Notes>
						<IsUpsell>
							<xsl:value-of select="/root/CartItems/Item/IsUpsell"/>
						</IsUpsell>
						<RecurringInterval>
							<xsl:value-of select="/root/CartItems/Item/RecurringInterval"/>
						</RecurringInterval>
						<ExtensionData>
							<xsl:value-of select="/root/CartItems/Item/ExtensionData"/>
						</ExtensionData>
						<CustomerEntersPrice>
							<xsl:value-of select="/root/CartItems/Item/CustomerEntersPrice"/>
						</CustomerEntersPrice>
						<IsAKit>
							<xsl:value-of select="/root/CartItems/Item/IsAKit"/>
						</IsAKit>
						<IsAKit2>
							<xsl:value-of select="/root/CartItems/Item/IsAKit2"/>
						</IsAKit2>
						<IsSystem>
							<xsl:value-of select="/root/CartItems/Item/IsSystem"/>
						</IsSystem>
						<TaxClassID>
							<xsl:value-of select="/root/CartItems/Item/TaxClassID"/>
						</TaxClassID>
						<TaxRate>
							<xsl:value-of select="/root/CartItems/Item/TaxRate"/>
						</TaxRate>
						<RecurringSubscriptionID>
							<xsl:value-of select="/root/CartItems/Item/RecurringSubscriptionID"/>
						</RecurringSubscriptionID>
						<IsGift>
							<xsl:value-of select="/root/CartItems/Item/IsGift"/>
						</IsGift>
						<GTIN>
							<xsl:value-of select="/root/CartItems/Item/GTIN"/>
						</GTIN>
						<UpdatedOn>
							<xsl:value-of select="/root/CartItems/Item/UpdatedOn"/>
						</UpdatedOn>
					</xsl:if>
				</ShoppingCart>
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>
