<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Entity Root Level Grid" debug="false" includeentityhelper="true">

	<!-- ###################################################################################################### -->
	<!-- Notes: expects param of Entity to be passed in by Runtime                                             -->
	<!-- ###################################################################################################### -->

	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" />
			<xsl:variable name="EntityName">
				<xsl:choose>
					<xsl:when test="string-length(/root/Runtime/entity) &gt; 0">
						<xsl:value-of select="/root/Runtime/entity" />
					</xsl:when>
					<xsl:otherwise>
						<xsl:value-of select="/root/QueryString/entity" />
					</xsl:otherwise>
				</xsl:choose>
			</xsl:variable>
			<xsl:variable name="ColumnCount" select="aspdnsf:AppConfig(concat('Default_', $EntityName, 'ColWidth'))" />
			<xsl:variable name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
			<xsl:variable name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
			<xsl:variable name="ProductIdsOnPage">
				<xsl:for-each select="/root/EntityHelpers/*[name()=$EntityName]/Entity/EntityID">
					<xsl:value-of select="." />
					<xsl:if test="position() != last()">
						<xsl:text>,</xsl:text>
					</xsl:if>
				</xsl:for-each>
			</xsl:variable>
			<xsl:variable name="AvailablePromotions" select="aspdnsf:XmlPackageAsXml('availablePromotions.xml.config', concat('productIdList=', $ProductIdsOnPage))/root/Promotions" />
			<xsl:param name="EntityDisplayName">
				<xsl:value-of select="aspdnsf:StringResource(concat('AppConfig.', $EntityName, 'PromptPlural'), $LocaleSetting)" />
			</xsl:param>
			<xsl:variable name="GridItemCssClassName">
				<xsl:choose>
					<xsl:when test="$ColumnCount = 1">col-sm-12</xsl:when>
					<xsl:when test="$ColumnCount = 2">col-sm-6</xsl:when>
					<xsl:when test="$ColumnCount = 3">col-sm-4</xsl:when>
					<xsl:when test="$ColumnCount = 4">col-sm-3</xsl:when>
					<xsl:when test="$ColumnCount = 5">col-sm-5ths</xsl:when>
					<xsl:when test="$ColumnCount = 6">col-sm-2</xsl:when>
					<xsl:otherwise>col-sm-3</xsl:otherwise>
				</xsl:choose>
			</xsl:variable>

			<xsl:variable name="GridItemSmallestClassName">
				<xsl:choose>
					<xsl:when test="$ColumnCount mod 2 = 0">col-xs-6</xsl:when>
					<xsl:otherwise>col-sm-12</xsl:otherwise>
				</xsl:choose>
			</xsl:variable>

			<xsl:template match="/">
				<div class="page-wrap entity-page">
					<h1>
						All <xsl:value-of select="$EntityDisplayName" />
					</h1>
					<div class="screen-reader-only">
						<xsl:value-of select="count(/root/EntityHelpers/*[name()=$EntityName]/child::Entity)" />
						<xsl:text xml:space="preserve"> </xsl:text>
						<xsl:value-of select="aspdnsf:StringResource('total.screenreader')" disable-output-escaping="yes" />
						<xsl:text xml:space="preserve"> </xsl:text>
						<xsl:value-of select="$EntityDisplayName" />
					</div>
					<div class="row sub-entity-row">
						<xsl:apply-templates select="/root/EntityHelpers/*[name()=$EntityName]/child::Entity" />
					</div>
				</div>
			</xsl:template>

			<xsl:template match="Entity">
				<xsl:variable name="Name" select="aspdnsf:GetMLValue(Name)" />
				<xsl:variable name="AltText">
					<xsl:choose>
						<xsl:when test="aspdnsf:GetMLValue(SEAltText)=''">
							<xsl:value-of select="$Name" />
						</xsl:when>
						<xsl:otherwise>
							<xsl:value-of select="aspdnsf:GetMLValue(SEAltText)" />
						</xsl:otherwise>
					</xsl:choose>
				</xsl:variable>
				<xsl:variable name="URL">
					<xsl:value-of select="aspdnsf:EntityLink(EntityID, SEName, $EntityName, 0, '')" />
				</xsl:variable>

				<xsl:if test="position() mod $ColumnCount = 1 and position() &gt; 1">
					<xsl:variable name="NewRowHtml">
						<xsl:text>&lt;/div&gt;&lt;div class="row  sub-entity-row"&gt;</xsl:text>
					</xsl:variable>
					<xsl:value-of select="$NewRowHtml" disable-output-escaping="yes" />
				</xsl:if>
				<!-- Assign the class determined above for the grid -->
				<div class="{$GridItemCssClassName} {$GridItemSmallestClassName} sub-entity-grid-item grid-item">
					<div class="grid-item-inner">
						<a href="{$URL}" class="sub-entity-link">
							<div class="sub-entity-image-wrap grid-item-image-wrap">
								<img src="{aspdnsf:ImageUrl(EntityID, $EntityName, 'icon', 0)}" alt="{$AltText}" class="img-responsive img-thumbnail sub-entity-grid-image grid-item-image" />
							</div>
							<div class="sub-entity-name-wrap grid-item-name-wrap">
								<xsl:value-of select="$Name" disable-output-escaping="yes"/>
							</div>
						</a>
					</div>
				</div>
				<!-- Break to two columns if we can on the smallest viewport -->
				<xsl:if test="$ColumnCount mod 2 = 0 and position() mod 2 = 0">
					<div class="clearfix visible-xs sub-entity-extra-small-clear"></div>
				</xsl:if>
			</xsl:template>

			<xsl:template match="Promotion">
				<div class="promotionCallToAction">
					<xsl:value-of select="CallToAction" disable-output-escaping="yes" />
				</div>
			</xsl:template>



		</xsl:stylesheet>
	</PackageTransform>

	<SearchEngineSettings>
		<SectionTitle actionType="transform">
			<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf">
				<xsl:output method="html" omit-xml-declaration="yes" />
				<xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
				<xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
				<xsl:variable name="EntityName">
					<xsl:choose>
						<xsl:when test="string-length(/root/Runtime/entity) &gt; 0">
							<xsl:value-of select="/root/Runtime/entity" />
						</xsl:when>
						<xsl:otherwise>
							<xsl:value-of select="/root/QueryString/entity" />
						</xsl:otherwise>
					</xsl:choose>
				</xsl:variable>
				<xsl:param name="EntityDisplayName">
					<xsl:value-of select="aspdnsf:StringResource(concat('AppConfig.', $EntityName, 'PromptPlural'), $LocaleSetting)" />
				</xsl:param>
				<xsl:template match="/">
					All <xsl:value-of select="$EntityDisplayName" />
				</xsl:template>
			</xsl:stylesheet>
		</SectionTitle>
	</SearchEngineSettings>

</package>
