<?xml version="1.0" encoding="utf-8" ?>
<package displayname="Lost Password Notification Email" version="2.1" debug="false">
	<query name="Customer" rowElementName="info">
		<sql>
			<![CDATA[
            select isnull(firstname + ' ' + lastname, '') Fullname from dbo.customer with (nolock) where customerid = @customerid
            ]]>
		</sql>
		<queryparam paramname="@customerid" paramtype="runtime" requestparamname="thiscustomerid" defvalue="0" sqlDataType="int" validationpattern="^\d{1,9}$"/>
	</query>
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" encoding="ISO-8859-1" />
			<xsl:param name="StoreID" select="/root/Runtime/StoreID" />
			<xsl:variable name="fontFamily">
				<xsl:text>font-family:Arial, Helvetica, sans-serif;</xsl:text>
			</xsl:variable>
			<xsl:variable name="fontSize">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.font.size')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="fontLineHeight">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.line.height')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="fontColor">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.font.color')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="emailBackground">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.header.background')" disable-output-escaping="yes"/>
			</xsl:variable>

			<xsl:template match="/">
				<html>
					<head>
						<title>
							<xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" /> - Password Reset
						</title>
					</head>
					<body class="body-text" style="{$fontFamily}{$fontSize}{$fontLineHeight}{$fontColor}">
						<!--[if mso]>
						<style type="text/css">
							.body-text {
								font-family: Arial, sans-serif;
							}
						</style>
						<![endif]-->
						<div class="password-reset-header" style="text-align:center;{$emailBackground}">
							<p>
								<br/>
							</p>
							<h2>
								<xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" />
							</h2>
							<h3>Password Reset</h3>
							<br/>
						</div>
						<br/>
						<div style="{$fontFamily}{$fontSize}{$fontLineHeight}text-align:center;">
							<br/>
							<div class="password-reset-main">
								<xsl:if test="aspdnsf:StrTrim(/root/Customer/info/Fullname)!=''">
									<xsl:value-of select="/root/Customer/info/Fullname" disable-output-escaping="yes" />, your
								</xsl:if><xsl:if test="aspdnsf:StrTrim(/root/Customer/info/Fullname)=''">Your</xsl:if> password has been reset.
								<br/>
								<br/>
								The new password is:
							</div>
							<div class="password-reset-password">
								<strong>
									<xsl:value-of select="/root/Runtime/newpwd" disable-output-escaping="yes" />
								</strong>
							</div>
							<div class="password-reset-footer">
								The next time you login you will be required to change this password.  Login <a href="{aspdnsf:BuildRoute('signin', 'account', '', 'true')}" target="_blank">here</a>
							</div>
						</div>
					</body>
				</html>
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>
