<?xml version="1.0" encoding="utf-8" ?>
<package displayname="Order Refund Email" version="2.1" debug="false">
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" encoding="ISO-8859-1" />
			<xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
			<xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
			<xsl:param name="StoreURL">
				<xsl:value-of select="/root/Runtime/StoreUrl" />
			</xsl:param>
			<xsl:param name="StoreId">
				<xsl:value-of select="/root/Runtime/StoreID" />
			</xsl:param>
			<xsl:variable name="fontFamily">
				<xsl:value-of select="aspdnsf:AppConfig('email.font.family')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="fontSize">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.font.size')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="fontLineHeight">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.line.height')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="fontColor">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.font.color')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="emailFrame">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.main.background')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="emailBackground">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.header.background')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="storeLogo">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.logo.image')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="emailHeader" select="aspdnsf:StrToLower(aspdnsf:AppConfig('email.header.logo'))"/>
			<xsl:variable name="storeName" select="aspdnsf:AppConfig($StoreId, 'StoreName')"/>

			<xsl:template match="/">
				<html>
					<head>
						<title>
							<xsl:value-of select="aspdnsf:AppConfig($StoreId, 'StoreName')" disable-output-escaping="yes" />
						</title>
					</head>
					<body class="body-text">
						<!--[if mso]>
						<style type="text/css">
							.body-text {
								font-family: Arial, sans-serif;
							}
						</style>
						<![endif]-->
						<div style="{$fontFamily}{$fontColor}{$fontSize}text-align:center;">
							<p>&#0160;</p>
							<xsl:choose>
								<xsl:when test="$emailHeader = 'true'">
									<a href="{/root/System/StoreUrl}" title="{$storeName} Logo" target="_blank">
										<img src="{/root/System/StoreUrl}/images/{$storeLogo}" alt="{$storeName}" />
									</a>
								</xsl:when>
								<xsl:otherwise>
									<h2 style="{$fontFamily}">
										<xsl:value-of select="$storeName" disable-output-escaping="yes" />
									</h2>
								</xsl:otherwise>
							</xsl:choose>
							<p>&#0160;</p>
						</div>
						<div style="{$fontFamily}{$fontColor}{$fontSize}{$fontLineHeight}text-align:center;">
							<p>&#0160;</p>
							Your order from&#0160;<xsl:value-of select="aspdnsf:AppConfig($StoreId, 'StoreName')" disable-output-escaping="yes" /> &#0160;with order number &#0160;<xsl:value-of select="/root/Runtime/ordernumber" /> &#0160;has been refunded.
						</div>
					</body>
				</html>
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>
