<?xml version="1.0" encoding="utf-8" ?>
<package displayname="Email Gift Card" version="2.1" debug="false" allowengine="true">
	<query name="GiftCards" rowElementName="GiftCard">
		<sql>
			<![CDATA[
            select G.*, C.LastName, C.FirstName 
            From dbo.giftcard G with (nolock) join dbo.customer C with (NOLOCK) on G.PurchasedByCustomerID = C.CustomerID where G.GiftCardID = @giftcardID
            ]]>
		</sql>
		<queryparam paramname="@giftcardID" paramtype="runtime" requestparamname="GiftCardID" defvalue="0" sqlDataType="int" validationpattern="^\d{1,9}$"/>
	</query>
	<query name="GCsCount" rowElementName="GCCount">
		<sql>
			<![CDATA[
            select COUNT(C.LastName) AS Bought 
            From giftcard G with (NOLOCK) join customer C with (NOLOCK) on G.PurchasedByCustomerID = C.CustomerID where G.GiftCardID = @giftcardID
            ]]>
		</sql>
		<queryparam paramname="@giftcardID" paramtype="runtime" requestparamname="GiftCardID" defvalue="0" sqlDataType="int" validationpattern="^\d{1,9}$"/>
	</query>
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" encoding="ISO-8859-1" />

			<xsl:param name="StoreID" select="/root/Runtime/StoreID" />
			<xsl:variable name="fontFamily">
				<xsl:value-of select="aspdnsf:AppConfig('email.font.family')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="fontSize">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.font.size')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="fontLineHeight">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.line.height')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="fontColor">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.font.color')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="emailFrame">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.main.background')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="emailBackground">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.header.background')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="storeLogo">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.logo.image')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="emailHeader" select="aspdnsf:StrToLower(aspdnsf:AppConfig('email.header.logo'))"/>
			<xsl:variable name="storeName" select="aspdnsf:AppConfig($StoreID, 'StoreName')"/>
			<xsl:template match="/">

				<xsl:param name="Value">
					<xsl:choose>
						<xsl:when test="number(//GiftCard/InitialAmount)=0">Free</xsl:when>
						<xsl:otherwise>
							<xsl:value-of select="//GiftCard/InitialAmount" />
						</xsl:otherwise>
					</xsl:choose>
				</xsl:param>
				<xsl:param name="RedeemURL">
					<xsl:choose>
						<xsl:when test="aspdnsf:AppConfig('GiftCard.RedeemURL')=''">
							<xsl:value-of select="/root/System/StoreUrl" />
						</xsl:when>
						<xsl:otherwise>
							<xsl:value-of select="aspdnsf:AppConfig('GiftCard.RedeemURL')" />
						</xsl:otherwise>
					</xsl:choose>
				</xsl:param>
				<html>
					<head>
						<title>
							<xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" /> GiftCard
						</title>
					</head>
					<body>
						<!--[if mso]>
						<style type="text/css">
							.body-text {
								font-family: Arial, sans-serif;
							}
						</style>
						<![endif]-->
						<div style="{$fontFamily}text-align:center;">
							<p>&#0160;</p>
							<xsl:choose>
								<xsl:when test="$emailHeader = 'true'">
									<a href="{/root/System/StoreUrl}" title="{$storeName} Logo" target="_blank">
										<img src="{/root/System/StoreUrl}/images/{$storeLogo}" alt="{$storeName}" />
									</a>
									<h2>Gift Card</h2>
								</xsl:when>
								<xsl:otherwise>
									<h2 style="{$fontFamily}">
										<xsl:value-of select="$storeName" disable-output-escaping="yes" />
									</h2>
									<h3>Gift Card</h3>
								</xsl:otherwise>
							</xsl:choose>
							<p>&#0160;</p>
						</div>

						<table width="100%">
							<tr>
								<td width="10%"></td>
								<td width="80%" style="{$fontFamily}{$fontColor}{$fontLineHeight}text-align:center;">
									<xsl:if test="//GCsCount/GCCount=0">
										<p>
											<span style="color:red; font-weight: bold;">No one has bought this gift card.</span>
										</p>
									</xsl:if>
									<p>
										<strong>
											<xsl:value-of select="//GiftCard/FirstName" />&#160;<xsl:value-of select="//GiftCard/LastName" />
										</strong>
										&#0160; has just sent you a Gift Card for &#0160;<xsl:value-of select="aspdnsf:AppConfig('StoreName')" disable-output-escaping="yes" />
									</p>
									<p>
										in the <strong>amount of</strong>
									</p>
									<h1>
										<xsl:value-of select="aspdnsf:FormatCurrency(//GiftCard/InitialAmount, aspdnsf:AppConfig('Localization.StoreCurrency'))" disable-output-escaping="yes" />
									</h1>
									<p style="font-size:20px;color:#333;{$fontFamily}">
										<p>&#0160;</p>
										"<strong>
											<xsl:value-of select="//GiftCard/EMailMessage" disable-output-escaping="yes" />
										</strong>"
									</p>
									<em>
										- <xsl:value-of select="//GiftCard/FirstName" />&#160;<xsl:value-of select="//GiftCard/LastName" /> -
									</em>
									<p>&#0160;</p>
									<p>
										To use this gift card, visit
										<a href="{$RedeemURL}" style="color:#2BA6CB;">
											<xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" />
										</a> and enter this gift card number:

										<p>&#0160;</p>
										<strong style="font-size:18px;">
											<a href="{/root/System/StoreUrl}" title="{$storeName} Logo" target="_blank" style="color:#2BA6CB;">
												<xsl:value-of select="//GiftCard/SerialNumber" />
											</a>
										</strong>
									</p>
								</td>
								<td width="10%"></td>
							</tr>
						</table>

					</body>
				</html>
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>
