<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Email Product To A Friend" debug="false">
	<query name="Products" rowElementName="Product">
		<sql>
			<![CDATA[
				exec dbo.aspdnsf_ProductInfo
					@ProductID = @ProductID,
					@CustomerLevelID = @CustomerLevelID,
					@DefaultVariantOnly = 1,
					@StoreID = @StoreID
			]]>
		</sql>
		<queryparam paramname="@ProductID"			paramtype="request" requestparamname="Id"		sqlDataType="int"	defvalue="0"	validationpattern="^\d{1,10}$" />
		<queryparam paramname="@CustomerLevelID"	paramtype="runtime" requestparamname="CustomerLevelID"	sqlDataType="int"	defvalue="0"	validationpattern="" />
		<queryparam paramname="@StoreID"			paramtype="runtime" requestparamname="StoreID"			sqlDataType="int"	defvalue="1"	validationpattern="" />
	</query>

	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" encoding="ISO-8859-1" />

			<xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
			<xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
			<xsl:param name="StoreID" select="/root/Runtime/StoreID" />

			<xsl:template match="/">
				<xsl:param name="pName">
					<xsl:choose>
						<xsl:when test="/root/Products/Product/Name/ml/locale[@name=$LocaleSetting]">
							<xsl:value-of select="/root/Products/Product/Name/ml/locale[@name=$LocaleSetting]"/>
						</xsl:when>
						<xsl:when test="/root/Products/Product/Name/ml/locale[@name=$WebConfigLocaleSetting]">
							<xsl:value-of select="/root/Products/Product/Name/ml/locale[@name=$WebConfigLocaleSetting]"/>
						</xsl:when>
						<xsl:otherwise>
							<xsl:value-of select="/root/Products/Product/Name"/>
						</xsl:otherwise>
					</xsl:choose>
				</xsl:param>
				<xsl:param name="pVName">
					<xsl:choose>
						<xsl:when test="/root/Products/Product/VariantName/ml/locale[@name=$LocaleSetting]">
							<xsl:value-of select="/root/Products/Product/Name/ml/locale[@name=$LocaleSetting]"/>
						</xsl:when>
						<xsl:when test="/root/Products/Product/VariantName/ml/locale[@name=$WebConfigLocaleSetting]">
							<xsl:value-of select="/root/Products/Product/Name/ml/locale[@name=$WebConfigLocaleSetting]"/>
						</xsl:when>
						<xsl:otherwise>
							<xsl:value-of select="/root/Products/Product/VariantName"/>
						</xsl:otherwise>
					</xsl:choose>
				</xsl:param>
				<xsl:param name="FullProductName">
					<xsl:value-of select="$pName" />
					<xsl:if test="pVName!=''">
						- <xsl:value-of select="$pVName" />
					</xsl:if>
				</xsl:param>
				<xsl:param name="URL">
					<xsl:value-of select="aspdnsf:ProductLink(/root/Products/Product/ProductID, /root/Products/Product/SEName, 0, $FullProductName, 0, 1)" />
				</xsl:param>
				<xsl:param name="message" select="/root/Runtime/message" />
				<xsl:param name="fromaddress" select="/root/Runtime/fromaddress" />
				<xsl:variable name="fontFamily">
					<xsl:text>font-family:Arial,Helvetica,sans-serif;</xsl:text>
				</xsl:variable>
				<xsl:variable name="fontSize">
					<xsl:value-of select="aspdnsf:AppConfig('email.styles.font.size')" disable-output-escaping="yes"/>
				</xsl:variable>
				<xsl:variable name="fontLineHeight">
					<xsl:value-of select="aspdnsf:AppConfig('email.styles.line.height')" disable-output-escaping="yes"/>
				</xsl:variable>
				<xsl:variable name="fontColor">
					<xsl:value-of select="aspdnsf:AppConfig('email.styles.font.color')" disable-output-escaping="yes"/>
				</xsl:variable>
				<xsl:variable name="emailFrame">
					<xsl:value-of select="aspdnsf:AppConfig('email.styles.main.background')" disable-output-escaping="yes"/>
				</xsl:variable>
				<xsl:variable name="emailBackground">
					<xsl:value-of select="aspdnsf:AppConfig('email.styles.header.background')" disable-output-escaping="yes"/>
				</xsl:variable>
				<xsl:variable name="storeLogo">
					<xsl:value-of select="aspdnsf:AppConfig('email.styles.logo.image')" disable-output-escaping="yes"/>
				</xsl:variable>
				<xsl:variable name="emailHeader" select="aspdnsf:StrToLower(aspdnsf:AppConfig('email.header.logo'))"/>

				<html>
					<head>
						<title>
							<xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" /> - <xsl:value-of select="$FullProductName" disable-output-escaping="yes"/>
						</title>
					</head>
					<body class="body-text" style="{$fontFamily}{$fontColor}{$fontLineHeight}{$fontSize}">
						<!--[if mso]>
						<style type="text/css">
							.body-text {
								font-family: Arial, sans-serif;
							}
						</style>
						<![endif]-->
						<div style="text-align:center;font-size:14px;font-style:italic;{$fontFamily}">
							<p>
								<br/>
							</p>
							<xsl:value-of select="aspdnsf:StrFormatStringresource('emailproduct.from.address', $fromaddress, ',')" disable-output-escaping="yes" />
							<br/>
							<br/>
						</div>
						<table width="100%">
							<tr>
								<td width="10%"></td>
								<td width="80%" style="{$fontFamily}{$fontSize}{$fontColor}{$fontLineHeight}">
									<a href="{$URL}">
										<img border="0" id="ProductPic{/root/Products/Product/ProductID}" src="{aspdnsf:ProductImageUrl(/root/Products/Product/ProductID, /root/Products/Product/ImageFilenameOverride, /root/Products/Product/SKU, 'medium', 1)}" />
									</a>
									<p>
										<b>
											<xsl:value-of select="aspdnsf:StringResource('emailproduct.from.header')" disable-output-escaping="yes" />
										</b>
									</p>
									<p>
										<xsl:value-of select="$message" disable-output-escaping="yes"/>
									</p>
									<p>
										<b>
											<xsl:value-of select="aspdnsf:StrFormatStringresource('emailproduct.xmlpackage.invitation', $FullProductName, ',')" disable-output-escaping="yes" />
										</b>
									</p>
									<p>
										<xsl:value-of select="aspdnsf:StringResource('emailproduct.xmlpackage.clicktheurl')" disable-output-escaping="yes" />
									</p>
									<p>
										<a href="{$URL}">
											<xsl:value-of select="$URL" />
										</a>
									</p>

									<div style="{$emailBackground}text-align:center;{$fontFamily}{$fontColor}{$fontSize}">
										<br/>
										<br/>
										<p>
											<xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" />
											<a href="{/root/System/StoreUrl}">
												<xsl:value-of select="/root/System/StoreUrl" />
											</a>
										</p>
										<br/>
										<br/>
									</div>
								</td>
								<td width="10%"></td>
							</tr>


						</table>
					</body>
				</html>
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>
