<?xml version="1.0" encoding="utf-8" ?>
<package displayname="Welcome Email" version="2.1" debug="false">
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" encoding="ISO-8859-1" />

			<xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
			<xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
			<xsl:param name="StoreURL">
				<xsl:value-of select="/root/Runtime/StoreUrl" />
			</xsl:param>
			<xsl:param name="StoreID" select="/root/Runtime/StoreID" />

			<xsl:variable name="fontFamily">
				<xsl:text>font-family:Arial, Helvetica, sans-serif;</xsl:text>
			</xsl:variable>
			<xsl:variable name="fontSize">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.font.size')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="fontLineHeight">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.line.height')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="fontColor">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.font.color')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="emailBackground">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.header.background')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="storeName" select="aspdnsf:AppConfig($StoreID, 'StoreName')"/>
			<xsl:variable name="storeLogo">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.logo.image')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="emailHeader" select="aspdnsf:StrToLower(aspdnsf:AppConfig('email.header.logo'))"/>
			
			<xsl:template match="/">
				<html>
					<head>
						<title>
							<xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" />
						</title>
					</head>
					<body class="body-text" style="{$fontFamily}{$fontSize}">
						<!--[if mso]>
						<style type="text/css">
							.body-text {
								font-family: Arial, sans-serif;
							}
						</style>
						<![endif]-->
						<div style="{$fontFamily}text-align:center;">
							<p>&#0160;</p>
							<xsl:choose>
								<xsl:when test="$emailHeader = 'true'">
									<a href="{/root/System/StoreUrl}" title="{$storeName} Logo" target="_blank">
										<img src="{/root/System/StoreUrl}/images/{$storeLogo}" alt="{$storeName}" />
									</a>
									<h2>Gift Card</h2>
								</xsl:when>
								<xsl:otherwise>
									<h2 style="{$fontFamily}">
										<xsl:value-of select="$storeName" disable-output-escaping="yes" />
									</h2>
									<h3>Welcome</h3>
								</xsl:otherwise>
							</xsl:choose>
							<p>&#0160;</p>
						</div>
						<table width="100%">
							<tr>
								<td width="10%"></td>
								<td width="80%" style="{$fontFamily}{$fontColor}{$fontSize}{$fontLineHeight}text-align:center;">
									<p>&#0160;</p>
									Thank you for registering with <xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" />.
									To access your account and view order history 
									<a href="{aspdnsf:BuildRoute('index', 'account', '', 'true')}" style="color:#2BA6CB;">
										<strong>click here</strong>
									</a>.
								</td>
								<td width="10%"></td>
							</tr>
						</table>
					</body>
				</html>
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>
