<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Admin New Order Email Notification Contents" debug="false">
	<query name="OrderData" rowElementName="Data">
		<sql>
			<![CDATA[
            select OrderNumber, CustomerID, OrderDate, ShippingMethod, convert(decimal(10,2), OrderTotal) OrderTotal, PaymentMethod 
            from dbo.orders  with (nolock)
            where OrderNumber = @ordernumber
            ]]>
		</sql>
		<queryparam paramname="@ordernumber" paramtype="runtime" requestparamname="ordernumber" sqlDataType="int" like="no" defvalue="0"  validationpattern="^\d{1,9}$" />

	</query>
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:msxsl="urn:schemas-microsoft-com:xslt" xmlns:receipt="urn:receipt" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf msxsl">
			<xsl:output method="html" omit-xml-declaration="yes" encoding="ISO-8859-1" />
			<xsl:variable name="fontFamily">
				<xsl:text>font-family:Arial, Helvetica, sans-serif;</xsl:text>
				<!--<xsl:value-of select="aspdnsf:AppConfig('email.font.family')" disable-output-escaping="yes"/>-->
			</xsl:variable>
			<xsl:variable name="fontSize">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.font.size')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="fontLineHeight">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.line.height')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="fontColor">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.font.color')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="emailFrame">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.main.background')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="emailBackground">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.header.background')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="storeName" select="aspdnsf:AppConfig($StoreId, 'StoreName')"/>
			<xsl:variable name="root" select="receipt:AttachAndPreComputeIntrinsics(/root)" />
			<xsl:variable name="StoreId" select="$root/Order/OrderInfo/StoreID" />
			<xsl:template match="/">
				<html>
					<head>
						<title>New Order Notification</title>
					</head>
					<body class="body-text" style="{$fontFamily}{$fontSize}{$fontLineHeight}{$fontColor}">
						<!--[if mso]>
						<style type="text/css">
							.body-text {
								font-family: Arial, sans-serif;
							}
						</style>
						<![endif]-->
						<div style="{$emailBackground}font-weight:bold;text-align:center;">
							<br/>
							<h2>
								<xsl:value-of select="$storeName" disable-output-escaping="yes"/> - New Order
							</h2>
							<br/>
						</div>
						<br/>
						<div style="text-align:center;">
							<xsl:choose>
								<xsl:when test="count(/root/OrderData/Data) > 0">
									<b>Order Number:</b>
									<xsl:value-of select="/root/OrderData/Data/OrderNumber" />
									<br />
									<b>Order Total:</b>
									<xsl:value-of select="/root/OrderData/Data/OrderTotal" />
									<br />
									<b>Order Date:</b>
									<xsl:value-of select="/root/OrderData/Data/OrderDate" />
									<br />
									<xsl:if test="number(OrderTotal)!=0">
										<b>Payment Method:</b>
										<xsl:value-of select="/root/OrderData/Data/PaymentMethod" />
										<br />
									</xsl:if>
									<b>Shipping Method:</b>
									<xsl:value-of select="/root/OrderData/Data/ShippingMethod" />
									<br />
									<b>Customer ID:</b>
									<xsl:value-of select="/root/OrderData/Data/CustomerID" />
									<br />

									<!--Build up a node with the info we'll need for the route -->
									<xsl:variable name="OrderInfo">
										<param name="OrderNumber" value="{/root/OrderData/Data/OrderNumber}" />
										<param name="CustomerID" value="{/root/OrderData/Data/CustomerID}" />
									</xsl:variable>
									<a href="{aspdnsf:BuildRoute('index', 'receipt', msxsl:node-set($OrderInfo), 'true')}">View online receipt</a>
									<br />
								</xsl:when>
								<xsl:otherwise>
									<b>Order Number:&#160;</b>
									999999
									<br />
									<b>Order Total:&#160;</b>
									$0.00
									<br />
									<b>Order Date:&#160;</b>
									<xsl:value-of select="/root/System/Date"/>&#160;<xsl:value-of select="/root/System/Time"/>
									<br />
									<b>Payment Method:&#160;</b>
									CREDIT CARD
									<br />
									<b>Shipping Method:&#160;</b>
									GROUND
									<br />
									<b>Customer ID:&#160;</b>
									<xsl:value-of select="/root/System/CustomerID" />
									<br />
									<br />
									<xsl:value-of select="aspdnsf:StringResource('mailingtest.aspx.2')"/>
								</xsl:otherwise>
							</xsl:choose>
						</div>
					</body>
				</html>
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>
