<?xml version="1.0" encoding="utf-8" ?>
<package displayname="Download Product Available" version="2.1" debug="false">
	<query name="Downloads" rowElementName="Download">
		<sql>
			<![CDATA[
				SELECT osc.OrderedProductVariantName, osc.OrderedProductName, o.StoreID AS OrderStoreID
				FROM Orders_ShoppingCart osc WITH (NOLOCK) 
				JOIN Orders o WITH (NOLOCK) ON osc.OrderNumber = o.OrderNumber
				WHERE ShoppingCartRecID = @ShoppingCartRecID
            ]]>
		</sql>
		<queryparam paramname="@ShoppingCartRecID" paramtype="runtime" requestparamname="ShoppingCartRecID" defvalue="0" sqlDataType="int" validationpattern="^\d{1,9}$"/>
	</query>
	<PackageTransform>
		<xsl:stylesheet version="1.0"
				xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
				xmlns:aspdnsf="urn:aspdnsf"
				xmlns:receipt="urn:receipt"
				xmlns:msxsl="urn:schemas-microsoft-com:xslt"
				exclude-result-prefixes="aspdnsf receipt msxsl" >
			<xsl:output method="html" omit-xml-declaration="yes" encoding="utf-8"/>
			<xsl:param name="skinID">
				<xsl:choose>
					<xsl:when test="number(/root/Cookies/skinid) > 0">
						<xsl:value-of select="/root/Cookies/skinid" />
					</xsl:when>
					<xsl:otherwise>
						<xsl:value-of select="aspdnsf:SkinID()" />
					</xsl:otherwise>
				</xsl:choose>
			</xsl:param>

			<xsl:param name="StoreID" select="/root/Downloads/Download/OrderStoreID" />
			<xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
			<xsl:variable name="fontFamily">
				<xsl:value-of select="aspdnsf:AppConfig('email.font.family')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="fontSize">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.font.size')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="fontLineHeight">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.line.height')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="fontColor">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.font.color')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="emailFrame">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.main.background')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="emailBackground">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.header.background')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="storeLogo">
				<xsl:value-of select="aspdnsf:AppConfig('email.styles.logo.image')" disable-output-escaping="yes"/>
			</xsl:variable>
			<xsl:variable name="emailHeader" select="aspdnsf:StrToLower(aspdnsf:AppConfig('email.header.logo'))"/>
			<xsl:variable name="storeName" select="aspdnsf:AppConfig($StoreID, 'StoreName')"/>
			<xsl:template match="/">
				<html>
					<head>
						<title>
							<xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" /> Download
						</title>
						<xsl:value-of select="receipt:GetReceiptCss($skinID)" disable-output-escaping="yes" />
					</head>
					<body class="body-text" style="{$fontFamily}{$fontColor}{$fontLineHeight}{$fontSize}">
						<!--[if mso]>
						<style type="text/css">
							.body-text {
								font-family: Arial, sans-serif;
							}
						</style>
						<![endif]-->

						<div style="{$fontSize}{$fontColor}{$fontFamily}{$fontLineHeight}text-align:center;">
							<p>&#0160;</p>
							<xsl:choose>
								<xsl:when test="$emailHeader = 'true'">
									<a href="{/root/System/StoreUrl}" title="{$storeName} Logo" target="_blank">
										<img src="{/root/System/StoreUrl}/images/{$storeLogo}" alt="{$storeName}" />
									</a>
									<h3>
										<xsl:value-of select="aspdnsf:StringResource('notification.downloadreleased.2', $LocaleSetting)" disable-output-escaping="yes" />
									</h3>
								</xsl:when>
								<xsl:otherwise>
									<h2 style="{$fontFamily}">
										<xsl:value-of select="$storeName" disable-output-escaping="yes" />
									</h2>
									<h3>
										<xsl:value-of select="aspdnsf:StringResource('notification.downloadreleased.2', $LocaleSetting)" disable-output-escaping="yes" />
									</h3>
								</xsl:otherwise>
							</xsl:choose>
							<p>&#0160;</p>
						</div>

						<table width="100%">
							<tr>
								<td width="10%"></td>
								<td width="80%" style="{$fontSize}{$fontColor}{$fontFamily}{$fontLineHeight}text-align:center;">
									<div>
										<xsl:value-of select="aspdnsf:Topic('Download.EmailHeader', '0', $StoreID)" disable-output-escaping="yes" />
									</div>

									<p>
										<xsl:value-of select="aspdnsf:StringResource('notification.downloadreleased.3', $LocaleSetting)" disable-output-escaping="yes" />&#0160;
										<xsl:value-of select="/root/Downloads/Download/OrderedProductName" disable-output-escaping="yes"/>&#0160;<xsl:if test="string-length(/root/Downloads/Download/OrderedProductVariantName) &gt; 0">
											- <xsl:value-of select="/root/Downloads/Download/OrderedProductVariantName" disable-output-escaping="yes"/>
										</xsl:if>
									</p>

									<div>
										<xsl:value-of select="aspdnsf:StringResource('notification.downloadreleased.4', $LocaleSetting)" disable-output-escaping="yes" />
										<a href="{aspdnsf:BuildRouteForStore('index', 'downloads', $StoreID)}">
											<xsl:value-of select="aspdnsf:StringResource('notification.downloadreleased.5', $LocaleSetting)" disable-output-escaping="yes" />&#0160;<xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" />.
										</a>
									</div>
									<xsl:value-of select="aspdnsf:Topic('Download.EmailFooter', '0', $StoreID)" disable-output-escaping="yes" />
								</td>
								<td width="10%"></td>
							</tr>
						</table>

					</body>
				</html>
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>
