<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Search" debug="false" includeentityhelper="true">
	<query name="Products" rowElementName="Product">
		<sql>
			<![CDATA[
                exec aspdnsf_GetProducts 
                    @localeName = @locale,
                    @CustomerLevelID = @CustLevelID,
                    @affiliateID = @AffID,
                    @ProductTypeID = @ProdTypeID, 
                    @ViewType = 1,
                    @pagenum = @pagenum,
                    @pagesize = 100,
                    @StatsFirst = 0,
					@searchstr = @SearchTerm,
                    @publishedonly = 1,
                    @ExcludeKits = 0,
                    @ExcludeSysProds = 1,
                    @InventoryFilter = @InvFilter,
                    @storeID = @StoreID,
                    @filterProduct = @FilterProduct,
                    @extSearch = @SearchDescription,
					@reducedColumns = 1
            ]]>
		</sql>
		<queryparam paramname="@locale"				paramtype="runtime"		requestparamname="LocaleSetting"								sqlDataType="varchar"	defvalue="en-US"  validationpattern="" />
		<queryparam paramname="@CustLevelID"		paramtype="runtime"		requestparamname="CustomerLevelID"								sqlDataType="int"		defvalue="0"      validationpattern="" />
		<queryparam paramname="@AffID"				paramtype="runtime"		requestparamname="AffiliateID"									sqlDataType="int"		defvalue="0"      validationpattern="" />
		<queryparam paramname="@ProdTypeID"			paramtype="runtime"		requestparamname="ProductTypeFilterID"							sqlDataType="int"		defvalue="null"   validationpattern="" />
		<queryparam paramname="@InvFilter"			paramtype="appconfig"	requestparamname="HideProductsWithLessThanThisInventoryLevel"	sqlDataType="int"		defvalue="0"      validationpattern="" />
		<queryparam paramname="@SearchDescription"	paramtype="appconfig"	requestparamname="SearchDescriptionsByDefault"					sqlDataType="bit"		defvalue="0"      validationpattern="" />
		<queryparam paramname="@SearchTerm"			paramtype="runtime"		requestparamname="SearchTerm"									sqlDataType="nvarchar"	defvalue=""       validationpattern="" />
		<queryparam paramname="@StoreID"			paramtype="runtime"		requestparamname="StoreID"										sqlDataType="int"		defvalue="1"      validationpattern="" />
		<queryparam paramname="@FilterProduct"		paramtype="runtime"		requestparamname="FilterProduct"								sqlDataType="bit"		defvalue="0"      validationpattern="" />
		<queryparam paramname="@pagenum"            paramtype="request"     requestparamname="pagenum"                                      sqlDataType="int"       defvalue="1"      validationpattern="" />
	</query>

	<query name="Categories" rowElementName="Category">
		<sql>
			<![CDATA[
                exec aspdnsf_SearchCategories @SearchTerm, null, @StoreID, @FilterEntity
            ]]>
		</sql>
		<queryparam paramname="@SearchTerm" paramtype="runtime" requestparamname="SearchTerm" sqlDataType="varchar" defvalue=""  validationpattern="" />
		<queryparam paramname="@StoreID"	  paramtype="runtime" requestparamname="StoreID"		sqlDataType="int"	    defvalue="1"  validationpattern="" />
		<queryparam paramname="@FilterEntity"      paramtype="runtime" requestparamname="FilterEntity"			sqlDataType="bit"	    defvalue="0"      validationpattern="" />
	</query>

	<query name="Sections" rowElementName="Section">
		<sql>
			<![CDATA[
            exec aspdnsf_SearchSections @SearchTerm, null, @StoreID, @FilterEntity
            ]]>
		</sql>
		<queryparam paramname="@SearchTerm" paramtype="runtime" requestparamname="SearchTerm" sqlDataType="varchar" defvalue=""  validationpattern="" />
		<queryparam paramname="@StoreID"	  paramtype="runtime" requestparamname="StoreID"		sqlDataType="int"	    defvalue="1"  validationpattern="" />
		<queryparam paramname="@FilterEntity"      paramtype="runtime" requestparamname="FilterEntity"			sqlDataType="bit"	    defvalue="0"      validationpattern="" />
	</query>

	<query name="Manufacturers" rowElementName="Manufacturer">
		<sql>
			<![CDATA[
            exec aspdnsf_SearchManufacturers @SearchTerm, null, @StoreID, @FilterEntity
            ]]>
		</sql>
		<queryparam paramname="@SearchTerm" paramtype="runtime" requestparamname="SearchTerm" sqlDataType="varchar" defvalue=""  validationpattern="" />
		<queryparam paramname="@StoreID"	  paramtype="runtime" requestparamname="StoreID"		sqlDataType="int"	    defvalue="1"  validationpattern="" />
		<queryparam paramname="@FilterEntity"      paramtype="runtime" requestparamname="FilterEntity"			sqlDataType="bit"	    defvalue="0"      validationpattern="" />
	</query>

	<query name="Distributors" rowElementName="Distributor">
		<sql>
			<![CDATA[
            exec aspdnsf_SearchDistributors @SearchTerm, null, @StoreID, @FilterEntity
            ]]>
		</sql>
		<queryparam paramname="@SearchTerm" paramtype="runtime" requestparamname="SearchTerm" sqlDataType="varchar" defvalue=""  validationpattern="" />
		<queryparam paramname="@StoreID"	  paramtype="runtime" requestparamname="StoreID"		sqlDataType="int"	    defvalue="1"  validationpattern="" />
		<queryparam paramname="@FilterEntity"      paramtype="runtime" requestparamname="FilterEntity"			sqlDataType="bit"	    defvalue="0"      validationpattern="" />
	</query>

	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" />

			<xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
			<xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
			<xsl:variable name="ProductIdsOnPage">
				<xsl:for-each select="/root/Products/Product/ProductID">
					<xsl:value-of select="." />
					<xsl:if test="position() != last()">
						<xsl:text>,</xsl:text>
					</xsl:if>
				</xsl:for-each>
			</xsl:variable>
			<xsl:variable name="AvailablePromotions" select="aspdnsf:XmlPackageAsXml('availablePromotions.xml.config', concat('productIdList=', $ProductIdsOnPage))/root/Promotions" />
			<xsl:variable name="ColumnCount" select="number(aspdnsf:AppConfig('Search_NumberOfColumns'))" />
			<xsl:variable name="GridItemCssClassName">
				<xsl:choose>
					<xsl:when test="$ColumnCount = 1">col-sm-12</xsl:when>
					<xsl:when test="$ColumnCount = 2">col-sm-6</xsl:when>
					<xsl:when test="$ColumnCount = 3">col-sm-4</xsl:when>
					<xsl:when test="$ColumnCount = 4">col-sm-3</xsl:when>
					<xsl:when test="$ColumnCount = 5">col-sm-5ths</xsl:when>
					<xsl:when test="$ColumnCount = 6">col-sm-2</xsl:when>
					<xsl:otherwise>col-sm-3</xsl:otherwise>
				</xsl:choose>
			</xsl:variable>

			<xsl:variable name="GridItemSmallestClassName">
				<xsl:choose>
					<xsl:when test="$ColumnCount mod 2 = 0">col-xs-6</xsl:when>
					<xsl:otherwise>col-sm-12</xsl:otherwise>
				</xsl:choose>
			</xsl:variable>
			<xsl:variable name="CurrentPage">
				<xsl:choose>
					<xsl:when test="/root/QueryString/pagenum">
						<xsl:value-of select="/root/QueryString/pagenum" />
					</xsl:when>
					<xsl:otherwise>1</xsl:otherwise>
				</xsl:choose>
			</xsl:variable>
			<xsl:template match="/">
				<div class="page-wrap search-page">
					<xsl:value-of select="aspdnsf:Topic('SearchPageHeader')" disable-output-escaping="yes" />

					<xsl:if test="aspdnsf:AppConfigBool('Search_ShowCategoriesInResults')='true' and count(/root/Categories/Category)>0">
						<h2 class="group-header search-page-header search-page-product-header">
							<xsl:value-of select="aspdnsf:StringResource('Header.SearchCategories', $LocaleSetting)" disable-output-escaping="yes" />
						</h2>
						<ul class="search-page-entity-list search-page-categories">
							<xsl:apply-templates select="/root/Categories/Category" />
						</ul>
					</xsl:if>

					<xsl:if test="aspdnsf:AppConfigBool('Search_ShowSectionsInResults')='true' and count(/root/Sections/Section)>0">
						<h2 class="group-header search-page-header search-page-product-header">
							<xsl:value-of select="aspdnsf:StringResource('Header.SearchSections', $LocaleSetting)" disable-output-escaping="yes" />
						</h2>
						<ul class="search-page-entity-list search-page-sections">
							<xsl:apply-templates select="/root/Sections/Section" />
						</ul>
					</xsl:if>

					<xsl:if test="aspdnsf:AppConfigBool('Search_ShowManufacturersInResults')='true' and count(/root/Manufacturers/Manufacturer)>0">
						<h2 class="group-header search-page-header search-page-product-header">
							<xsl:value-of select="aspdnsf:StringResource('Header.SearchManufacturers', $LocaleSetting)" disable-output-escaping="yes" />
						</h2>
						<ul class="search-page-entity-list search-page-manufacturers">
							<xsl:apply-templates select="/root/Manufacturers/Manufacturer" />
						</ul>
					</xsl:if>

					<xsl:if test="aspdnsf:AppConfigBool('Search_ShowDistributorsInResults')='true' and count(/root/Distributors/Distributor)>0">
						<h2 class="group-header search-page-header search-page-product-header">
							<xsl:value-of select="aspdnsf:StringResource('Header.SearchDistributors', $LocaleSetting)" disable-output-escaping="yes" />
						</h2>
						<ul class="search-page-entity-list search-page-distibutors">
							<xsl:apply-templates select="/root/Distributors/Distributor" />
						</ul>
					</xsl:if>

					<xsl:if test="aspdnsf:AppConfigBool('Search_ShowProductsInResults')='true' and count(/root/Products/Product)>0">
						<div class="entity-paging-wrap paging-wrap-top">
							<xsl:value-of select="aspdnsf:PagingControl('', $CurrentPage, /root/Products2/Product/pages)" disable-output-escaping="yes" />
						</div>
						<h2 class="group-header search-page-header search-page-product-header">
							<xsl:value-of select="aspdnsf:StringResource('Header.SearchProducts', $LocaleSetting)" disable-output-escaping="yes" />
						</h2>
						<div class="products-grid search-page-products">
							<div class="row products-row search-page-products-row">
								<xsl:apply-templates select="/root/Products/Product" />
							</div>
						</div>
						<div class="entity-paging-wrap paging-wrap-bottom">
							<xsl:value-of select="aspdnsf:PagingControl('', $CurrentPage, /root/Products2/Product/pages)" disable-output-escaping="yes" />
						</div>
					</xsl:if>

					<xsl:if test="/root/Runtime/SearchTerm and count(/root/Categories/Category)=0 and count(/root/Sections/Section)=0 and count(/root/Manufacturers/Manufacturer)=0 and count(/root/Distributors/Distributor)=0 and count(/root/Products/Product)=0">
						<p class="search-no-matches-text">
							<xsl:value-of select="aspdnsf:StringResource('search.aspx.9', $LocaleSetting)" disable-output-escaping="yes" />
						</p>
					</xsl:if>

					<xsl:value-of select="aspdnsf:Topic('SearchPageFooter')" disable-output-escaping="yes" />
				</div>
			</xsl:template>



			<xsl:template match="Product">
				<xsl:variable name="pName" select="aspdnsf:GetMLValue(Name)"></xsl:variable>
				<xsl:variable name="pSEAltText" select="aspdnsf:GetMLValue(SEAltText)"></xsl:variable>
				<xsl:variable name="ImageUrl" select="aspdnsf:ImageUrl(ProductID, 'product', 'icon', 0)" />
				<xsl:variable name="ProductLink" select="aspdnsf:ProductLink(ProductID, SEName, 0)" />
				<xsl:variable name="AltText">
					<xsl:choose>
						<xsl:when test="$pSEAltText=''">
							<xsl:value-of select="$pName" />
						</xsl:when>
						<xsl:otherwise>
							<xsl:value-of select="$pSEAltText" />
						</xsl:otherwise>
					</xsl:choose>
				</xsl:variable>
				<xsl:variable name="productId" select="ProductID" />
				<xsl:variable name="IsRecurring" select="HasRecurring" />

				<xsl:if test="position() mod $ColumnCount = 1 and position() &gt; 1">
					<xsl:variable name="NewRowHtml">
						<xsl:text>&lt;/div&gt;&lt;div class="row products-row search-page-products-row"&gt;</xsl:text>
					</xsl:variable>
					<xsl:value-of select="$NewRowHtml" disable-output-escaping="yes" />
				</xsl:if>

				<!-- Assign the class determined above for the grid -->
				<div class="{$GridItemCssClassName} {$GridItemSmallestClassName} product-grid-item">
					<div class="grid-item-inner">
						<a href="{$ProductLink}" class="search-product-link grid-product-link">
							<div class="grid-item-image-wrap">
								<img src="{$ImageUrl}" alt="{$AltText}" class="grid-item-image product-image" />
							</div>
							<div class="grid-item-name-wrap">
								<xsl:value-of select="$pName" disable-output-escaping="yes" />
							</div>
						</a>
						<xsl:if test="aspdnsf:AppConfigBool('DisplayOutOfStockProducts') = 'true'">
							<div class="grid-item-stock-wrap">
								<xsl:value-of select="aspdnsf:DisplayProductStockHint(ProductID,'Entity')" disable-output-escaping="yes" />
							</div>
						</xsl:if>
						<xsl:if test="$IsRecurring = 'True'">
							<div class="grid-item-recurring-wrap">
								<xsl:value-of select="aspdnsf:StringResource('product.CallToAction.IsRecurring', $LocaleSetting)" disable-output-escaping="yes" />
							</div>
						</xsl:if>
						<!-- Run the Promotion template to display the call to action text for any auto-assigned promos that apply to this product -->
						<div class="grid-item-promotions-wrap">
							<xsl:apply-templates select="$AvailablePromotions/Promotion[ProductId=$productId]" />
						</div>
					</div>
				</div>
				<!-- Break to two columns if we can on the smallest viewport -->
				<xsl:if test="$ColumnCount mod 2 = 0 and position() mod 2 = 0">
					<div class="clearfix visible-xs entity-product-extra-small-clear"></div>
				</xsl:if>
			</xsl:template>

			<xsl:template match="Category|Section|Manufacturer|Distributor">
				<xsl:param name="EntityName" select="name()" />
				<xsl:param name="EntityIDName" select="concat($EntityName, 'ID')" />
				<xsl:param name="EntityID" select="./*[name() = $EntityIDName]" />
				<xsl:param name="Helper" select="/root/EntityHelpers/*[name() = $EntityName]" />
				<xsl:for-each select="$Helper/descendant::Entity[EntityID=$EntityID]">
					<li>
						<xsl:call-template name="EntityBreadCrumb">
							<xsl:with-param name="EntityName" select="$EntityName" />
						</xsl:call-template>
					</li>
				</xsl:for-each>
			</xsl:template>


			<xsl:template name="EntityBreadCrumb">
				<xsl:param name="EntityName" />
				<xsl:for-each select="ancestor-or-self::*[child::SEName and ancestor::EntityHelpers]">
					<xsl:variable name="pEName" select="aspdnsf:GetMLValue(Name)" />
					<a href="{aspdnsf:EntityLink(EntityID, SEName, $EntityName, 0)}">
						<xsl:value-of select="$pEName" disable-output-escaping="yes" />
					</a>
					<xsl:text>&#32;</xsl:text>
					<xsl:if test="position()!=last()">
						<xsl:value-of select="aspdnsf:AppConfig('BreadCrumbSeparator')" disable-output-escaping="yes" />
					</xsl:if>
					<xsl:text>&#32;</xsl:text>
				</xsl:for-each>
			</xsl:template>

			<xsl:template match="Promotion">
				<div class="promotion-call-to-action">
					<xsl:value-of select="CallToAction" disable-output-escaping="yes" />
				</div>
			</xsl:template>

		</xsl:stylesheet>
	</PackageTransform>
</package>
