<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Default Home Page" debug="false">
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" />
			<xsl:param name="FeaturedProductsEnabled" select="aspdnsf:AppConfig('FeaturedProducts.NumberOfItems') > 0"/>
			<xsl:template match="/">
				<xsl:value-of select="aspdnsf:Topic('HomeTopIntro')" disable-output-escaping="yes"/>

				<xsl:if test="$FeaturedProductsEnabled">
					<xsl:value-of select="aspdnsf:XmlPackage('featuredproducts.xml.config')" disable-output-escaping="yes"/>
				</xsl:if>

				<xsl:if test="aspdnsf:AppConfig('ShowNewsOnHomePage') = 'true'">
					<xsl:value-of select="aspdnsf:Action('List', 'News')" disable-output-escaping="yes"/>
				</xsl:if>
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>