<?xml version="1.0" standalone="yes" ?>
<package displayname="Dynamic Body Open Javascript" version="2.1" debug="false">
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" indent="no"  encoding="utf-8"/>

			<xsl:variable name="PageType" select="/root/Runtime/PageType" />
			<xsl:template match="/">
				<!-- This xmlpackage can be used to add dynamic data to javascripts such as tracking scripts that should run just after the opening body tag -->
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>
