<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Admin Alert" debug="false" includeentityhelper="false">
	<PackageTransform>

		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
                    xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" />

			<xsl:param name="AdminAlertMessage" select="aspdnsf:AppConfig('AdminAlert.Message')" />

			<xsl:template match="/">
				<xsl:if test="$AdminAlertMessage!=''">
					<div class="admin-alert-wrap">
						<span class="admin-alert-text">
							<xsl:value-of select="$AdminAlertMessage" disable-output-escaping="yes"/>
						</span>
					</div>
				</xsl:if>
			</xsl:template>

		</xsl:stylesheet>
	</PackageTransform>
</package>
