<?xml version="1.0"?>
<outboundRules>
	<!--
		Enable the custom header below to set a max-age of one week to all images.
		This can be useful in decreasing a browser's page load time.
	-->
	<rule name="Set Cache-Control header for image files" enabled="false">
		<match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
		<conditions>
			<add input="{REQUEST_FILENAME}" pattern="\.(jpg|jpeg|png|gif|bmp)$" ignoreCase="true" />
		</conditions>
		<action type="Rewrite" value="max-age=604800"/>
	</rule>
</outboundRules>