<?xml version="1.0"?>
<rules>
	<!--
		Enable this rule to force all requests to use the "www" subdomain. Leave it disabled to use whatever subdomain was requested.
	-->
	<rule name="Ensure www subdomain" enabled="false">
		<match url="(.*)" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(?!www\.).+" />
			<add input="{HTTP_HOST}" pattern="^(?!\d+\.\d+\.\d+\.\d+$)" />
		</conditions>
		<action type="Redirect" url="{MapScheme:{HTTPS}}://www.{HTTP_HOST}/{R:1}" redirectType="Temporary" />
	</rule>
	<!--
		Routing can't parse entity and product URL's that have the ID delimited by a dash when the SEName contains dashes.
		To work around that, we rewrite those URL's with the SEName as a query parameter.
	-->
	<rule name="SEName segmentation workaround">
		<match url="^([pmcsdgv])-(\d+?)-([^.]+?)\.aspx$" />
		<action type="Rewrite" url="{R:1}-{R:2}.aspx?searchEngineName={R:3}" />
	</rule>
	<rule name="Topic name contains t- workaround">
		<match url="^t-(.+?)\.aspx$" />
		<conditions>
			<add input="{REQUEST_FILENAME}" negate="true" pattern="t-contact.aspx" />
		</conditions>
		<action type="Rewrite" url="topic.aspx?name={R:1}" />
	</rule>
	<rule name="Topic name contains t2- workaround">
		<match url="^t2-(.+?)\.aspx$" />
		<action type="Rewrite" url="topic.aspx?name={R:1}&amp;disableTemplate=True" />
	</rule>
	<rule name="XmlPackage name contains e- workaround">
		<match url="^e-(.+?)\.aspx$" />
		<action type="Rewrite" url="xmlpackage.aspx?name={R:1}" />
	</rule>
	<rule name="XmlPackage name contains x- workaround">
		<match url="^x-(.+?)\.aspx$" />
		<action type="Rewrite" url="xmlpackage.aspx?name={R:1}&amp;disableTemplate=True" />
	</rule>
	<!--
		If you no longer have any code referencing the /jscripts folder you can remove this rule. Make sure your xmlpackages
		do not reference jscripts.
	-->
	<rule name="Legacy jscripts folder support">
		<match url="^jscripts/(.*)" ignoreCase="true" />
		<action type="Rewrite" url="scripts/{R:1}" appendQueryString="true" />
	</rule>
	<rule name="WSI redirect">
		<match url="ipx.asmx" />
		<action type="Rewrite" url="ipx.svc" />
	</rule>
</rules>