<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Entity Table Order Form" debug="false" includeentityhelper="true">

	<!-- ###################################################################################################### -->
	<!-- Copyright AspDotNetStorefront.com, 1995-2007.  All Rights Reserved.					                -->
	<!-- http://www.aspdotnetstorefront.com														                -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!--                                                                                                        -->
	<!-- ###################################################################################################### -->

	<query name="Products" rowElementName="Product">
		<sql>
			<![CDATA[
                exec aspdnsf_GetProducts 
                    @categoryID = @CatID,
                    @sectionID = @SecID,
                    @manufacturerID = @ManID,
                    @distributorID = @DistID,
                    @genreID = @GenreID,
                    @vectorID = @VectorID,
                    @localeName = @locale,
                    @CustomerLevelID = @CustLevelID,
                    @affiliateID = @AffID,
                    @ProductTypeID = @ProdTypeID, 
                    @ViewType = 0,
                    @pagenum = @pgnum,
                    @pagesize = null,
                    @StatsFirst = 0,
                    @publishedonly = 1,
                    @ExcludePacks = 1,
                    @ExcludeKits = 1,
                    @ExcludeSysProds = 0,
                    @InventoryFilter = @InvFilter,
                    @sortEntityName = @entityname
            ]]>
		</sql>

		<queryparam paramname="@CatID" paramtype="runtime" requestparamname="CatID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@SecID" paramtype="runtime" requestparamname="SecID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@ManID" paramtype="runtime" requestparamname="ManID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@DistID" paramtype="runtime" requestparamname="DistID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@GenreID" paramtype="runtime" requestparamname="GenreID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@VectorID" paramtype="runtime" requestparamname="VectorID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@locale" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="varchar" defvalue="en-US"  validationpattern="" />
		<queryparam paramname="@CustLevelID" paramtype="runtime" requestparamname="CustomerLevelID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@AffID" paramtype="runtime" requestparamname="AffiliateID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@ProdTypeID" paramtype="runtime" requestparamname="ProductTypeFilterID" sqlDataType="int" defvalue="1"  validationpattern="" />
		<queryparam paramname="@pgnum" paramtype="request" requestparamname="pagenum" sqlDataType="int" defvalue="1"  validationpattern="" />
		<queryparam paramname="@InvFilter" paramtype="appconfig" requestparamname="HideProductsWithLessThanThisInventoryLevel" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@entityname" paramtype="runtime" requestparamname="EntityName" sqlDataType="varchar" defvalue=""  validationpattern="" />
	</query>

	<query name="ExtensionData" rowElementName="Product" retType="xml">
		<sql>
			<![CDATA[
				select 
					Product.ProductID, 
					Variant.VariantID,
					CONVERT(XML, (
						case
							when ISNULL(Variant.ExtensionData, '') not like '' then Variant.ExtensionData
						else
							Product.ExtensionData
						end	
					))
				from 
					Product 
						left join 
					ProductCategory pc 
						on pc.ProductID = Product.ProductID
						left join
					ProductVariant Variant
						on Variant.ProductID = Product.ProductID
				where 
					CategoryID=@CatID
						and
					isnull(Variant.ExtensionData, Product.ExtensionData) is not null
						and
					isnull(Variant.ExtensionData, Product.ExtensionData) not like ''
				for
					xml path('Product')
			]]>
		</sql>

		<queryparam paramname="@CatID" paramtype="runtime" requestparamname="CatID" sqlDataType="int" defvalue="0"  validationpattern="" />
	</query>

<query name="KitData" rowElementName="KitProduct">
		<sql>
			<![CDATA[
				
select * from Product p where p.productid in(select pc.productid from productcategory pc where categoryid=@CatID) and p.IsAKit=1 and p.deleted=0 and p.published=1
			]]>
		</sql>

		<queryparam paramname="@CatID" paramtype="runtime" requestparamname="CatID" sqlDataType="int" defvalue="0"  validationpattern="" />
	</query>


	<PackageTransform>

		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" />

			<xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
			<xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
			<xsl:param name="EntityName">
				<xsl:value-of select="/root/Runtime/EntityName" />
			</xsl:param>
			<xsl:param name="EntityID">
				<xsl:value-of select="/root/Runtime/EntityID" />
			</xsl:param>
			<xsl:param name="ShowSubcatsInGrid">
				<xsl:value-of select="aspdnsf:AppConfig('ShowSubcatsInGrid')" />
			</xsl:param>
			<xsl:param name="SubcatGridCols">
				<xsl:value-of select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/ColWidth" />
			</xsl:param>
			<xsl:param name="ShowSummaryInTableOrderFormat">
				<xsl:value-of select="aspdnsf:AppConfig('ShowSummaryInTableOrderFormat')"/>
			</xsl:param>
			<xsl:param name="WholesaleOnlySite">
				<xsl:value-of select="aspdnsf:AppConfig('WholesaleOnlySite')"/>
			</xsl:param>


			<xsl:param name="BaseURL">
				<xsl:choose>
					<xsl:when test="aspdnsf:StrToLower(/root/Runtime/EntityName) = 'category'">
						c-<xsl:value-of select="/root/Runtime/EntityID" />-<xsl:value-of select="/root/QueryString/sename" />.aspx
					</xsl:when>
					<xsl:when test="aspdnsf:StrToLower(/root/Runtime/EntityName) = 'section'">
						s-<xsl:value-of select="/root/Runtime/EntityID" />-<xsl:value-of select="/root/QueryString/sename" />.aspx
					</xsl:when>
					<xsl:when test="aspdnsf:StrToLower(/root/Runtime/EntityName) = 'manufacturer'">
						m-<xsl:value-of select="/root/Runtime/EntityID" />-<xsl:value-of select="/root/QueryString/sename" />.aspx
					</xsl:when>
					<xsl:when test="aspdnsf:StrToLower(/root/Runtime/EntityName) = 'library'">
						l-<xsl:value-of select="/root/Runtime/EntityID" />-<xsl:value-of select="/root/QueryString/sename" />.aspx
					</xsl:when>
				</xsl:choose>
			</xsl:param>

			<xsl:param name="CurrentPage">
				<xsl:choose>
					<xsl:when test="/root/QueryString/pagenum">
						<xsl:value-of select="/root/QueryString/pagenum" />
					</xsl:when>
					<xsl:otherwise>1</xsl:otherwise>
				</xsl:choose>
			</xsl:param>



			<xsl:template match="/">
				<script type="text/javascript" Language="JavaScript">
					<![CDATA[
                function TableOrderForm_Validator(theForm){
                    return (true);
                }
            ]]>
				</script>

				<xsl:choose>
					<xsl:when test="count(/root/Products/Product) = 0 and count(/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/Entity) = 0">
						<xsl:value-of select="aspdnsf:Topic(concat('empty', /root/Runtime/EntityName, 'text'))" disable-output-escaping="yes" />
					</xsl:when>
					<xsl:otherwise>
						<div id="ProductArea">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">

								<tr>
									<td valign="top"  align="center" >
										<xsl:value-of select="aspdnsf:LookupEntityImage($EntityID, $EntityName, 'medium', 0)" disable-output-escaping="yes" />
									</td>

									<td align="center" valign="top" width="59%">
										<span class="CategoryName">
											<xsl:value-of select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]//Entity[EntityID=/root/Runtime/EntityID]/Name"/>
										</span>
										<br />
										<xsl:value-of select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]//Entity[EntityID=/root/Runtime/EntityID]/Description" disable-output-escaping="yes" />
									</td>
								</tr>
							</table>
						</div>
						<br />

						<table border="1" cellpadding="3" cellspacing="0" width="100%">
							<!--<tr class="DarkCell">

								<td colspan="2" width="30%" align="left">
									<font class="CondensedDarkCellText">
										<b>
											<xsl:value-of select="aspdnsf:StringResource('showproduct.aspx.30', $LocaleSetting)" disable-output-escaping="yes" />
										</b>
									</font>
								</td>
								<td width="10%" align="left">
									<font class="CondensedDarkCellText">
										<b>
											<xsl:value-of select="aspdnsf:StringResource('showproduct.aspx.31', $LocaleSetting)" disable-output-escaping="yes" />
										</b>
									</font>
								</td>

								<td width="30%" align="left">
									<font class="CondensedDarkCellText">
										<b>
											<xsl:value-of select="aspdnsf:StringResource('showproduct.aspx.32', $LocaleSetting)" disable-output-escaping="yes" />
										</b>
									</font>
								</td>



								<td width="10%" align="left">
									<font class="CondensedDarkCellText">
										<b>
											<xsl:value-of select="aspdnsf:StringResource('showproduct.aspx.35', $LocaleSetting)" disable-output-escaping="yes" />
										</b>
									</font>
								</td>
								<td width="20%" align="center">
									<font class="CondensedDarkCellText">
										<b>
											<xsl:value-of select="aspdnsf:StringResource('showproduct.aspx.36', $LocaleSetting)" disable-output-escaping="yes" />
										</b>
									</font>
								</td>
							</tr>-->
<xsl:apply-templates select="/root/KitData/KitProduct"/>
							<xsl:apply-templates select="/root/Products/Product[ProductID != preceding-sibling::Product[1]/ProductID or position() = 1]" />

						</table>
						<br />
						<br />
						<br />
					</xsl:otherwise>
				</xsl:choose>
			</xsl:template>

			<xsl:template name="SubEntity">
				<xsl:for-each select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[ParentEntityID=/root/Runtime/EntityID]">

					<xsl:choose>
						<xsl:when test="$ShowSubcatsInGrid = 'true'">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<xsl:if test="position() mod $SubcatGridCols = 1 or ($SubcatGridCols = 1)">
									<tr>
										<xsl:for-each select=". | following-sibling::*[position() &lt; $SubcatGridCols]">
											<xsl:variable name="scName">
												<xsl:choose>
													<xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
														<xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]"/>
													</xsl:when>
													<xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
														<xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]"/>
													</xsl:when>
													<xsl:when test="count(Name/ml)=0">
														<xsl:value-of select="Name"/>
													</xsl:when>
												</xsl:choose>
											</xsl:variable>
											<xsl:call-template name="SubCatCell">
												<xsl:with-param name="scName" select="$scName" />
											</xsl:call-template>
										</xsl:for-each>
									</tr>
									<tr>
										<td height="10" colspan="{$SubcatGridCols}">&#0160;</td>
									</tr>
								</xsl:if>
							</table>
						</xsl:when>
						<xsl:otherwise>
							<xsl:variable name="scName">
								<xsl:choose>
									<xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
										<xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]"/>
									</xsl:when>
									<xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
										<xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]"/>
									</xsl:when>
									<xsl:when test="count(Name/ml)=0">
										<xsl:value-of select="Name"/>
									</xsl:when>
								</xsl:choose>
							</xsl:variable>
							<p align="left">
								&#0160;&#0160;&#0160;<img border="0" src="{concat('skins/skin_', aspdnsf:SkinID(), '/images/redarrow.gif')}"></img>&#0160;
								<a href="{aspdnsf:EntityLink(EntityID, SEName, $EntityName, 0, '')}">
									<xsl:value-of select="$scName" disable-output-escaping="yes"/>
								</a>
							</p>
						</xsl:otherwise>
					</xsl:choose>

				</xsl:for-each>
			</xsl:template>

			<!-- ### SubCatCell ######################################################################################### -->
			<xsl:template name="SubCatCell">
				<xsl:param name="scName"></xsl:param>

				<xsl:param name="URL">
					<xsl:value-of select="aspdnsf:EntityLink(EntityID, SEName, $EntityName, 0, '')" />
				</xsl:param>

				<td align="center">
					<a href="{$URL}">
						<xsl:value-of select="aspdnsf:LookupEntityImage(EntityID, $EntityName, 'icon', 0)" disable-output-escaping="yes" />
					</a>
					<br/>
					<a href="{$URL}">
						<xsl:value-of select="$scName" disable-output-escaping="yes"/>
					</a>
				</td>

			</xsl:template>

			<!-- ### Product w/o Variants ############################################################################### -->
			<xsl:template match="Product[VariantName = '']">

				<xsl:param name="pName">
					<xsl:choose>
						<xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
							<xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]"/>
						</xsl:when>
						<xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
							<xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]"/>
						</xsl:when>
						<xsl:when test="count(Name/ml)=0">
							<xsl:value-of select="Name"/>
						</xsl:when>
					</xsl:choose>
				</xsl:param>

				<xsl:param name="pDescription">
					<xsl:choose>
						<xsl:when test="count(Description/ml/locale[@name=$LocaleSetting])!=0">
							<xsl:value-of select="Description/ml/locale[@name=$LocaleSetting]"/>
						</xsl:when>
						<xsl:when test="count(Description/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
							<xsl:value-of select="Description/ml/locale[@name=$WebConfigLocaleSetting]"/>
						</xsl:when>
						<xsl:when test="count(Description/ml)=0">
							<xsl:value-of select="Description"/>
						</xsl:when>
					</xsl:choose>
				</xsl:param>

				<xsl:param name="pSalesPromptName">
					<xsl:choose>
						<xsl:when test="count(SalesPromptName/ml/locale[@name=$LocaleSetting])!=0">
							<xsl:value-of select="SalesPromptName/ml/locale[@name=$LocaleSetting]"/>
						</xsl:when>
						<xsl:when test="count(SalesPromptName/ml/locale[@name=$WebConfigLocaleSetting])!=0">
							<xsl:value-of select="SalesPromptName/ml/locale[@name=$WebConfigLocaleSetting]"/>
						</xsl:when>
						<xsl:when test="count(SalesPromptName/ml)=0">
							<xsl:value-of select="SalesPromptName"/>
						</xsl:when>
					</xsl:choose>
				</xsl:param>

				<xsl:param name="pShowBuyButton">
					<xsl:choose>
						<xsl:when test="count(ShowBuyButton/ml/locale[@name=$LocaleSetting])!=0">
							<xsl:value-of select="ShowBuyButton/ml/locale[@name=$LocaleSetting]"/>
						</xsl:when>
						<xsl:when test="count(ShowBuyButton/ml/locale[@name=$WebConfigLocaleSetting])!=0">
							<xsl:value-of select="ShowBuyButton/ml/locale[@name=$WebConfigLocaleSetting]"/>
						</xsl:when>
						<xsl:when test="count(ShowBuyButton/ml)=0">
							<xsl:value-of select="ShowBuyButton"/>
						</xsl:when>
					</xsl:choose>
				</xsl:param>

				<tr>
					<td colspan="2">
						<xsl:value-of select="$pName" disable-output-escaping="yes" />
					</td>
					<td>
						<xsl:value-of select="SKU"/>
					</td>
					<td>
						<xsl:value-of select="$pDescription" disable-output-escaping="yes" />
					</td>
					<td>
						<xsl:value-of select="aspdnsf:GetVariantPrice(VariantID, number(HidePriceUntilCart), Price, SalePrice, ExtendedPrice, Points, $pSalesPromptName, TaxClassID)" disable-output-escaping="yes" />
					</td>
					<td valign="middle" align="right" style="width: 150px;">
						<xsl:call-template name="AddToCartForm" />
						<!--<xsl:value-of select="aspdnsf:AddtoCartForm(ProductID, VariantID, 1)" disable-output-escaping="yes"/>-->
					</td>
				</tr>

			</xsl:template>


<xsl:template match="KitProduct">
				<xsl:param name="pID" select="ProductID"/>

				<xsl:param name="pName">
					<xsl:choose>
						<xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
							<xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]"/>
						</xsl:when>
						<xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
							<xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]"/>
						</xsl:when>
						<xsl:when test="count(Name/ml)=0">
							<xsl:value-of select="Name"/>
						</xsl:when>
					</xsl:choose>
				</xsl:param>

				<tr>
					<td colspan="6" style="border: solid black 1px;">
						<xsl:value-of select="$pName" disable-output-escaping="yes" />
					</td>
				</tr>

				<tr>
					
					<td style="border-left: solid black 1px;">
						<b>Product Options</b>
					</td>
					<td>
						<b>Part #</b>
					</td>
					<td>
						<b>Description</b>
					</td>					
					<td align="center" colspan="2">
						<b>Order</b>
					</td>
				</tr>

				<tr>
					
					<td style="border-left: solid black 1px;">
						<xsl:value-of select="Name"/>
					</td>
					<td>
						<xsl:value-of select="ManufacturerPartNumber"/>

					</td>
					<td>
						<xsl:value-of select="Description"/>

					</td>						
					<td align="center" colspan="2">
						<a><xsl:attribute name="href">p-<xsl:value-of select="ProductID"/>-<xsl:value-of select="SEName"/>.aspx</xsl:attribute><img style="cursor:hand;" border="0" src="App_Themes/Skin_1/images/moreinfo.gif" alt="More Information"/></a>

					</td>
				</tr>


			</xsl:template>





			<!-- ### Product w/ Variants ################################################################################ -->
			<xsl:template match="Product[VariantName != '']">
				<xsl:param name="pID" select="ProductID"/>

				<xsl:param name="pName">
					<xsl:choose>
						<xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
							<xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]"/>
						</xsl:when>
						<xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
							<xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]"/>
						</xsl:when>
						<xsl:when test="count(Name/ml)=0">
							<xsl:value-of select="Name"/>
						</xsl:when>
					</xsl:choose>
				</xsl:param>

				<tr>
					<td colspan="6" style="border: solid black 1px;">
						<xsl:value-of select="$pName" disable-output-escaping="yes" />
					</td>
				</tr>

				<tr>
					
					<td style="border-left: solid black 1px;">
						<b>Product Options</b>
					</td>
					<td>
						<b>Part #</b>
					</td>
					<td>
						<b>Description</b>
					</td>
					<td>
						<b>Individual Price</b>
					</td>
					<td align="center">
						<b>Order</b>
					</td>
				</tr>

				<xsl:for-each select="/root/Products/Product[ProductID = $pID]">
					<xsl:call-template name="Variant" />
				</xsl:for-each>

			</xsl:template>

			<!-- ### Variant ############################################################################################ -->
			<xsl:template name="Variant">
				<xsl:param name="pSalesPromptName">
					<xsl:choose>
						<xsl:when test="count(SalesPromptName/ml/locale[@name=$LocaleSetting])!=0">
							<xsl:value-of select="SalesPromptName/ml/locale[@name=$LocaleSetting]"/>
						</xsl:when>
						<xsl:when test="count(SalesPromptName/ml/locale[@name=$WebConfigLocaleSetting])!=0">
							<xsl:value-of select="SalesPromptName/ml/locale[@name=$WebConfigLocaleSetting]"/>
						</xsl:when>
						<xsl:when test="count(SalesPromptName/ml)=0">
							<xsl:value-of select="SalesPromptName"/>
						</xsl:when>
					</xsl:choose>
				</xsl:param>
				<xsl:param name="vID" select="VariantID"/>
				<tr class="variantRow">
				
					<td style="border-left: solid black 1px;">
						<xsl:value-of select="VariantName"/>
						<!--<xsl:value-of select="VariantManufacturerPartNumber"/>-->
					</td>
					<td>
						<xsl:value-of select="VariantManufacturerPartNumber"/>
						<!--<xsl:value-of select="aspdnsf:LookupVariantImage(ProductID, VariantID, ImageFileNameOverride, SKU, 'icon', 0)" disable-output-escaping="yes" />-->
					</td>
					<td>
						<xsl:value-of select="VariantDescription" disable-output-escaping="yes" />

					</td>
					<td>
						<xsl:value-of select="aspdnsf:GetVariantPrice(VariantID, number(HidePriceUntilCart), Price, SalePrice, ExtendedPrice, Points, $pSalesPromptName, TaxClassID)" disable-output-escaping="yes" />
						<!--<xsl:value-of select="SKUSuffix"/>-->
					</td>
					<td valign="middle" align="right" style="width: 150px;">
						<xsl:call-template name="AddToCartForm" />
						<!--<xsl:value-of select="aspdnsf:AddtoCartForm(ProductID, VariantID, 1)" disable-output-escaping="yes"/>-->
						<!--<xsl:value-of select="Weight"/>-->
					</td>

				</tr>

			</xsl:template>

			<!-- ### Add to Cart ################################################################################## -->
			<xsl:template name="AddToCartForm">
				<xsl:param name="pID" select="ProductID" />
				<xsl:param name="vID" select="VariantID" />

				<xsl:value-of select="aspdnsf:AddtoCartForm(ProductID, VariantID, 1)" disable-output-escaping="yes"/>

				<xsl:if test="/root/ExtensionData/Product[VariantID=$vID]/ExtensionData/CaseSize">
					<input type="button" class="button-buy-case">
						<xsl:attribute name="value">Buy Case (<xsl:value-of select="/root/ExtensionData/Product[VariantID=$vID]/ExtensionData/CaseSize" />)</xsl:attribute>

						<xsl:attribute name="onclick">
							var qty = <xsl:value-of select="/root/ExtensionData/Product[VariantID=$vID]/ExtensionData/CaseSize" />;
							var varId = <xsl:value-of select="VariantID" />;
							
							<![CDATA[
							var inputs = parentNode.getElementsByTagName("INPUT");

							for(var i = 0; i < inputs.length; i++)
							{
								if(inputs[i].type == "text")
								{
									qty = qty * inputs[i].value;
									break;
								}
							}							
						
							document.location.href = 'addtocart.aspx?variantid=' + varId + '&quantity=' + qty;
							]]>
						</xsl:attribute>
					</input>
				</xsl:if>
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>
