<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Payment Methods" debug="false">
	<query name="CreditCardType" rowElementName="CardType">
		<sql>
			<![CDATA[
              select CardType, CardTypeID from dbo.CreditCardType
        ]]>
		</sql>
	</query>

	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" />
			<xsl:template match="/">
				<div class="payment-methods-wrap">
					<div class="cards-accepted">
						<xsl:variable name="showpaypal" select="aspdnsf:AppConfig('PayPal.API.Username')"/>
						<xsl:variable name="showpaypaladv" select="aspdnsf:AppConfig('PayPal.BusinessID')"/>
						<xsl:variable name="showpayflow" select="aspdnsf:AppConfig('PayFlowPro.USER')"/>
						<xsl:if test="string-length($showpaypal) or string-length($showpayflow) or string-length($showpaypaladv) > 0 ">
							<span id="payment-method-imagespp" class="cardname paypal"></span>
						</xsl:if>
						<xsl:variable name="amazon" select="aspdnsf:AppConfig('CheckoutByAmazon.CbaAccessKey')"/>
						<xsl:if test="string-length($amazon) > 0">
							<span id="payment-method-imagesaz" class="cardname amazon"></span>
						</xsl:if>
						<xsl:for-each select="/root/CreditCardType/CardType">
							<xsl:variable name="card" select="CardType"/>
							<xsl:variable name="cardID" select="CardTypeID"/>
							<span id="payment-method-images{$cardID}">
								<xsl:attribute name="class">
									cardname <xsl:value-of select="aspdnsf:StrReplace(aspdnsf:StrToLower($card), ' ', '')" disable-output-escaping="yes"/>
								</xsl:attribute>
							</span>
						</xsl:for-each>
					</div>
				</div>
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>
