<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Promo Window" debug="false" includeentityhelper="false" allowengine="true">
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" />

			<xsl:template match="/">
				<xsl:variable name="expireCookie" select="aspdnsf:AppConfig('promo-window-cookie-expiration')"></xsl:variable>
				<xsl:variable name="windowDelay" select="aspdnsf:AppConfig('promo-window-time-delay')"></xsl:variable>
				<xsl:variable name="promoWindow" select="aspdnsf:StrToLower(aspdnsf:AppConfig('promo-window-enabled'))"></xsl:variable>
				<xsl:variable name="isCustomer" select="/root/System/CustomerIsRegistered"></xsl:variable>
				<xsl:choose>
					<xsl:when test="($isCustomer != 'true') and ($promoWindow = 'true')">
						<div id="promoWindow" class="promo-message">
							<div class="panel promo-message-panel">
								<a class="promoClose">
									<i class="fa fa-close"></i>
								</a>
								<xsl:value-of select="aspdnsf:Topic('0-Home-Promo-Window')" disable-output-escaping="yes"/>
							</div>
						</div>
					</xsl:when>
					<xsl:otherwise>
					</xsl:otherwise>
				</xsl:choose>

				<xsl:variable name="promoScript">
					<script>
						<![CDATA[
						(function(options) {
							$(function(){
								if (Cookies.get('promoWindow') == 'visited') {
									return false;
								} 
								else {
									setTimeout(function () {
										$('#promoWindow').fadeIn("fast");
									}, options.windowDelay);
									$(".promoClose").on("click", function(){
										$("#promoWindow").remove();
									});
									Cookies.set('promoWindow', 'visited', { exprires: options.cookieExpires });
								}
							});
						})]]>
						({
						windowDelay: <xsl:value-of select="$windowDelay" disable-output-escaping="yes"/>,
						cookieExpires: <xsl:value-of select="$expireCookie" disable-output-escaping="yes"/>
						});
					</script>
					<dependency>~/scripts/jquery.js</dependency>
				</xsl:variable>

				<xsl:value-of select="aspdnsf:RegisterInlineScript($promoScript)" disable-output-escaping="yes" />

			</xsl:template>

		</xsl:stylesheet>
	</PackageTransform>
</package>

